################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/Kootam.Framework.Application/bin
/Application/Kootam.Framework.Application/obj
/Authentication/Kootam.Framework.Authentication.Jwt/obj
/Domain/Kootam.Framework.Domain/bin
/Domain/Kootam.Framework.Domain/obj
/Extensions/Abstractions/Kootam.Framework.Caching.Abstractions/bin/Debug
/Extensions/Abstractions/Kootam.Framework.Caching.Abstractions/obj
/Extensions/Abstractions/Kootam.Framework.Translator.Abstractions/bin/Debug/net10.0
/Extensions/Abstractions/Kootam.Framework.Translator.Abstractions/obj
/Extensions/Abstractions/Kootam.Framework.UserManagement.Abstractions/bin/Debug/net10.0
/Extensions/Abstractions/Kootam.Framework.UserManagement.Abstractions/obj
/Extensions/Chaching/Kootam.Framework.Caching.Memory/bin/Debug/net10.0
/Extensions/Chaching/Kootam.Framework.Caching.Memory/obj
/Extensions/Chaching/Kootam.Framework.Caching.Redis/bin/Debug
/Extensions/Chaching/Kootam.Framework.Caching.Redis/obj
/Extensions/Chaching/Kootam.Framework.Caching.SqlServer/bin/Debug/net10.0
/Extensions/Chaching/Kootam.Framework.Caching.SqlServer/obj
/Extensions/Translator/Kootam.Framework.Translator.Database/obj
/Extensions/Translator/Kootam.Framework.Translator.Json/bin/Debug/net10.0
/Extensions/Translator/Kootam.Framework.Translator.Json/obj
/Infrastructure/Kootam.Framework.Infrastructure/bin
/Infrastructure/Kootam.Framework.Infrastructure/obj
/Presentations/Kootam.Framework.Presentations/bin
/Presentations/Kootam.Framework.Presentations/obj
/Utilities/Kootam.Framework.Utilities/bin/Release
/Utilities/Kootam.Framework.Utilities/obj
/Utilities/Kootam.Framework.Utilities.Common/bin
/Utilities/Kootam.Framework.Utilities.Common/obj
/Utilities/Kootam.Framework.Utilities.ScalarRegistration/bin
/Utilities/Kootam.Framework.Utilities.ScalarRegistration/obj
/Utilities/Kootam.Framework.Utilities.SerilogRegistration/bin
/Utilities/Kootam.Framework.Utilities.SerilogRegistration/obj
/Utilities/Kootam.Framework.Utilities.Tools/obj
/Extensions/Translator/Kootam.Framework.Translator.Database/bin/Debug/net10.0
/Authentication/Kootam.Framework.Authentication.Jwt/bin/Debug/net10.0
/Extensions/Abstractions/Kootam.Framework.AutoMap.Abstractions/bin/Debug
/Extensions/Abstractions/Kootam.Framework.AutoMap.Abstractions/obj
/Extensions/AutoMap/Kootam.Framework.AutoMap.AutoMapper/bin/Debug
/Extensions/AutoMap/Kootam.Framework.AutoMap.AutoMapper/obj
/Extensions/AutoMap/Kootam.Framework.AutoMap.Mapster/bin/Debug
/Extensions/AutoMap/Kootam.Framework.AutoMap.Mapster/obj
/.idea/.idea.Kootam.Framework/.idea
/Application/Kootam.Framework.Application/.idea/.idea.Kootam.Framework.dir/.idea
/Common/Kootam.Framework.Abstractions/bin
/Common/Kootam.Framework.Abstractions/obj
/Common/Kootam.Framework.Utilities.Common/bin
/Common/Kootam.Framework.Utilities.Common/obj
/Common/Kootam.Framework.Utilities.SerilogRegistration/bin
/Common/Kootam.Framework.Utilities.SerilogRegistration/obj
/Common/Kootam.Framework.Utilities.Tools/obj
/Common/Kootam.Utilities.ScalarRegistration/.idea/.idea.Kootam.Utilities.ScalarRegistration/.idea
/Common/Kootam.Utilities.ScalarRegistration/Kootam.Utilities.ScalarRegistration/bin/Release/net10.0
/Common/Kootam.Utilities.ScalarRegistration/Kootam.Utilities.ScalarRegistration/obj
/Common/Kootam.Utilities.ScalarRegistration/Kootam.Utilities.ScalarRegistration.Sample/obj
/Extensions/Authentication/Kootam.Extensions.Authentication/.idea/.idea.Kootam.Extensions.Authentication/.idea
/Extensions/Authentication/Kootam.Extensions.Authentication/.vs
/Extensions/Authentication/Kootam.Extensions.Authentication/src/Kootam.Extensions.Authentication/bin
/Extensions/Authentication/Kootam.Extensions.Authentication/src/Kootam.Extensions.Authentication/obj
/Extensions/Authentication/Kootam.Extensions.Authentication/src/Kootam.Extensions.Authentication.Sample/bin
/Extensions/Authentication/Kootam.Extensions.Authentication/src/Kootam.Extensions.Authentication.Sample/obj
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/.idea/.idea.Kootam.Extensions.Authentication.Jwt/.idea
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/.vs
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/src/Kootam.Extensions.Authentication.Jwt/bin
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/src/Kootam.Extensions.Authentication.Jwt/obj
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/src/Kootam.Extensions.Authentication.Jwt.Sample/bin
/Extensions/Authentication/Kootam.Extensions.Authentication.Jwt/src/Kootam.Extensions.Authentication.Jwt.Sample/obj
/Extensions/AutoMap/Kootam.Framework.AutoMap.AutoMapper/.vs/Kootam.Framework.AutoMap.AutoMapper.slnx
/Extensions/AutoMap/Kootam.Framework.AutoMap.AutoMapper/bin/Release/net10.0
/Extensions/AutoMap/Kootam.Framework.AutoMap.Mapster/bin/Release/net10.0
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/.idea/.idea.Kootam.Extensions.Caching.InMemory/.idea
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/.vs
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/src/Kootam.Extensions.Caching.InMemory/bin/Release/net10.0
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/src/Kootam.Extensions.Caching.InMemory/obj
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/src/Kootam.Extensions.Caching.InMemory.Sample/bin/Release/net10.0
/Extensions/Chaching/Kootam.Extensions.Caching.InMemory/src/Kootam.Extensions.Caching.InMemory.Sample/obj
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/.idea/.idea.Kootam.Extensions.Caching.Redis/.idea
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/.vs
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/src/Kootam.Extensions.Caching.Redis/bin
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/src/Kootam.Extensions.Caching.Redis/obj
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/src/Kootam.Extensions.Caching.Redis.Sample/bin
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/src/Kootam.Extensions.Caching.Redis.Sample/obj
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/tests/Kootam.Extensions.Caching.Redis.UnitTest/bin
/Extensions/Chaching/Kootam.Extensions.Caching.Redis/tests/Kootam.Extensions.Caching.Redis.UnitTest/obj
/Extensions/Chaching/Kootam.Extensions.Caching.Sql/.idea/.idea.Kootam.Extensions.Caching.Sql/.idea
/Extensions/Chaching/Kootam.Extensions.Caching.Sql/.vs
/Extensions/Chaching/Kootam.Extensions.Caching.Sql/src/Kootam.Extensions.Caching.Sql/bin/Release/net10.0
/Extensions/Chaching/Kootam.Extensions.Caching.Sql/src/Kootam.Extensions.Caching.Sql/obj
/Extensions/Chaching/Kootam.Extensions.Caching.Sql/src/Kootam.Extensions.Caching.Sql.Sample/obj
/Extensions/Cqrs/Kootam.Extensions.Cqrs/.idea/.idea.Kootam.Extensions.Cqrs/.idea
/Extensions/Cqrs/Kootam.Extensions.Cqrs/.vs
/Extensions/Cqrs/Kootam.Extensions.Cqrs/Kootam.Extensions.Cqrs/bin
/Extensions/Cqrs/Kootam.Extensions.Cqrs/Kootam.Extensions.Cqrs/obj
/Extensions/Cqrs/Kootam.Extensions.Cqrs/Kootam.Extensions.Cqrs.Sample/bin
/Extensions/Cqrs/Kootam.Extensions.Cqrs/Kootam.Extensions.Cqrs.Sample/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/.idea
/Extensions/Kootam.Framework.Extensions.Abstractions/.vs
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Authentication.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Authentication.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.AutoMap.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.AutoMap.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Caching.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Caching.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Cqrs.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Cqrs.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.DependencyInjection.Abstractions/bin/Release/net10.0
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.DependencyInjection.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Serializers.Abstractions/bin/Release/net10.0
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Serializers.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Translator.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.Translator.Abstractions/obj
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.UserManagement.Abstractions/bin
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.UserManagement.Abstractions/obj
/Extensions/Serializers/Kootam.Extensions.Serializers.Json/.vs/Kootam.Extensions.Serializers.Json.slnx/v18
/Extensions/Translator/Kootam.Framework.Translator.Database/bin/Release/net10.0
/Extensions/Translator/Kootam.Framework.Translator.Json/bin/Release/net10.0
/Extensions/UserManagement/Kootam.Extensions.UserManagement/.vs/Kootam.Extensions.UserManagement.slnx
/Extensions/UserManagement/Kootam.Extensions.UserManagement/src/Kootam.Extensions.UserManagement/bin/Release/net10.0
/Extensions/UserManagement/Kootam.Extensions.UserManagement/src/Kootam.Extensions.UserManagement/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/.vs/Kootam.Extensions.AutoMap.AutoMapper.slnx
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/Kootam.Extensions.AutoMap.AutoMapper/bin/Debug/net10.0
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/Kootam.Extensions.AutoMap.AutoMapper/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/Kootam.Extensions.AutoMap.AutoMapper.Sample/bin/Debug/net10.0
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/Kootam.Extensions.AutoMap.AutoMapper.Sample/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster1/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/.vs/ProjectEvaluation
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/.vs/Kootam.Extensions.AutoMap.Mapster.slnx
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/Kootam.Extensions.AutoMap.Mapster/bin/Debug/net10.0
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/Kootam.Extensions.AutoMap.Mapster/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/Kootam.Extensions.AutoMap.Mapster.Sample/bin/Debug/net10.0
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/Kootam.Extensions.AutoMap.Mapster.Sample/obj
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/.vs/ProjectEvaluation
/Extensions/Translator/Kootam.Extensions.Translator.Database/.vs/Kootam.Extensions.Translator.Database.slnx
/Extensions/Translator/Kootam.Extensions.Translator.Database/Kootam.Extensions.Translator.Database/bin/Debug/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Database/Kootam.Extensions.Translator.Database/obj
/Extensions/Translator/Kootam.Extensions.Translator.Database/Kootam.Extensions.Translator.Database.Smp/bin/Debug/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Database/Kootam.Extensions.Translator.Database.Smp/obj
/Extensions/Translator/Kootam.Framework.Translator.Database/.vs/Kootam.Framework.Translator.Database.slnx/FileContentIndex
/Extensions/Translator/Kootam.Extensions.Translator.Database/.vs/ProjectEvaluation
/Extensions/Translator/Kootam.Extensions.Translator.Json/.vs/Kootam.Extensions.Translator.Json.slnx
/Extensions/Translator/Kootam.Extensions.Translator.Json/Kootam.Extensions.Translator.Json/bin/Debug/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Json/Kootam.Extensions.Translator.Json/obj
/Extensions/Translator/Kootam.Extensions.Translator.Json/Kootam.Extensions.Translator.Json.Sample/bin/Debug/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Json/Kootam.Extensions.Translator.Json.Sample/obj
/Extensions/Translator/Kootam.Extensions.Translator.Json/.vs/ProjectEvaluation
/Extensions/AutoMap/Kootam.Extensions.AutoMap.AutoMapper/Kootam.Extensions.AutoMap.AutoMapper/bin/Release/net10.0
/Extensions/AutoMap/Kootam.Extensions.AutoMap.Mapster/Kootam.Extensions.AutoMap.Mapster/bin/Release/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Database/Kootam.Extensions.Translator.Database/bin/Release/net10.0
/Extensions/Translator/Kootam.Extensions.Translator.Json/Kootam.Extensions.Translator.Json/bin/Release/net10.0
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.MessageBroker.Abstractions/bin/Debug/net10.0
/Extensions/Kootam.Framework.Extensions.Abstractions/Kootam.Extensions.MessageBroker.Abstractions/obj
