################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/Kootam.Framework.Application/bin
/Application/Kootam.Framework.Application/obj
/Authentication/Kootam.Framework.Authentication.Jwt/obj
/Domain/Kootam.Framework.Domain/bin
/Domain/Kootam.Framework.Domain/obj
/Extensions/Abstractions/Kootam.Framework.Caching.Abstractions/bin/Debug
/Extensions/Abstractions/Kootam.Framework.Caching.Abstractions/obj
/Extensions/Abstractions/Kootam.Framework.Translator.Abstractions/bin/Debug/net10.0
/Extensions/Abstractions/Kootam.Framework.Translator.Abstractions/obj
/Extensions/Abstractions/Kootam.Framework.UserManagement.Abstractions/bin/Debug/net10.0
/Extensions/Abstractions/Kootam.Framework.UserManagement.Abstractions/obj
/Extensions/Chaching/Kootam.Framework.Caching.Memory/bin/Debug/net10.0
/Extensions/Chaching/Kootam.Framework.Caching.Memory/obj
/Extensions/Chaching/Kootam.Framework.Caching.Redis/bin/Debug
/Extensions/Chaching/Kootam.Framework.Caching.Redis/obj
/Extensions/Chaching/Kootam.Framework.Caching.SqlServer/bin/Debug/net10.0
/Extensions/Chaching/Kootam.Framework.Caching.SqlServer/obj
/Extensions/Translator/Kootam.Framework.Translator.Database/obj
/Extensions/Translator/Kootam.Framework.Translator.Json/bin/Debug/net10.0
/Extensions/Translator/Kootam.Framework.Translator.Json/obj
/Infrastructure/Kootam.Framework.Infrastructure/bin
/Infrastructure/Kootam.Framework.Infrastructure/obj
/Presentations/Kootam.Framework.Presentations/bin
/Presentations/Kootam.Framework.Presentations/obj
/Utilities/Kootam.Framework.Utilities/bin/Release
/Utilities/Kootam.Framework.Utilities/obj
/Utilities/Kootam.Framework.Utilities.Common/bin
/Utilities/Kootam.Framework.Utilities.Common/obj
/Utilities/Kootam.Framework.Utilities.ScalarRegistration/bin
/Utilities/Kootam.Framework.Utilities.ScalarRegistration/obj
/Utilities/Kootam.Framework.Utilities.SerilogRegistration/bin
/Utilities/Kootam.Framework.Utilities.SerilogRegistration/obj
/Utilities/Kootam.Framework.Utilities.Tools/obj
/Extensions/Translator/Kootam.Framework.Translator.Database/bin/Debug/net10.0
/Authentication/Kootam.Framework.Authentication.Jwt/bin/Debug/net10.0
